<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myfirstapp.example.com.nafnogkennitala" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Allergy_input"
            android:label="@string/title_activity_allergy_input"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myfirstapp.example.com.nafnogkennitala.MyActivity" />
        </activity>
        <activity
            android:name=".Medicine_input"
            android:label="@string/title_activity_medicine_input"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myfirstapp.example.com.nafnogkennitala.MyActivity" />
        </activity>
        <activity
            android:name=".Disease_input"
            android:label="@string/title_activity_disease_input"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myfirstapp.example.com.nafnogkennitala.MyActivity" />
        </activity>
    </application>

</manifest>
