<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myfirstapp.example.com.nafnogkennitala" >

    <uses-sdk
        android:minSdkVersion="17">
    </uses-sdk>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/red_button"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Allergy_input"
            android:label="@string/title_activity_allergy_input"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myfirstapp.example.com.nafnogkennitala.MyActivity" />
        </activity>
        <activity
            android:name=".Medicine_input"
            android:label="@string/title_activity_medicine_input"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myfirstapp.example.com.nafnogkennitala.MyActivity" />
        </activity>
        <activity
            android:name=".Disease_input"
            android:label="@string/title_activity_disease_input"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myfirstapp.example.com.nafnogkennitala.MyActivity" />
        </activity>
        <activity
            android:name=".StartActivity"
            android:icon="@drawable/red_button"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Info_choice"
            android:label="@string/title_activity_info_choice" >
        </activity>
        <activity
            android:name=".ExamineUser"
            android:label="@string/title_activity_examine_user" >
        </activity>
        <activity
            android:name=".ExamineAllergy"
            android:label="@string/title_activity_examine_allergy" >
        </activity>
        <activity
            android:name=".ExamineMeds"
            android:label="@string/title_activity_examine_meds" >
        </activity>
        <activity
            android:name=".ExamineDisease"
            android:label="@string/title_activity_examine_disease" >
        </activity>

        <receiver
            android:name=".EmergencyButtonAppWidgetProvider"
            android:icon="@drawable/red_button"
            android:label="Emergency Button" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.SEND_FOR_HELP" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver
            android:name="EmergencyButtonWidgetIntentReceiver"
            android:label="@string/Safe_and_appy">
            <intent-filter>
                <action android:name="android.intent.action.SEND_FOR_HELP" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
         </receiver>

        <activity
            android:name=".Safety"
            android:label="@string/title_activity_safety" >
        </activity>
    </application>

</manifest>
